.container{
    border: 3px solid #666;
    border-radius: 10px;
    padding: 1em;
}
img{
    cursor: pointer;
}
.post-img{
    width: 5em;
}
.reply-img{
    width: 2.5em;
}
.reply-input{
    height: 4em;
}
h3{
    display: inline-block;
    color: white;
}
h4{
    color: white;
}
h6{
    display: inline;
    color: white;
}
hr{
    background-color: white;
}
h5{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: inline;
    padding: 2px;
    margin: 0 5px;
    cursor: pointer;
}
h6{
    font-size: 1em;
}
a{
    width: 2em;
}
#waveform{
    width: 100%;
}
label{
    color: white;
}
.disabled{
    display: none;
}
@media (max-width: 768px){
    h5{
        display: block;
        text-align: center;
        margin: 5px 0;
    }
    p{
        text-align: center;
        margin-top: 30%;
    }
    .type{
        text-align: left;
    }
    input[type=range], .volume{
        display: none;
    }
}
@media (max-width: 1992px){
    .btn{
        height: 3.5em;
    }
}