<footer class="bg-dark text-white">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-center">
                <h6 class="text-uppercase mb-3 font-weight-bold text-warning">Let's Collab</h6>
                <p class="small mt-4">Va usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo por no
                    llamarte Rodrigor te
                    voy a borrar el cerito la caidita</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-center ">
                <h6 class="text-uppercase mb-3 font-weight-bold text-warning">Secciones</h6>
                <p class="small mb-2"><a [routerLink]="['/collab']" class="text-white mt-2"
                        style="text-decoration:none">Let's Collab</a>
                </p>
                <p class="small  mb-2"><a class="text-white" style="text-decoration:none">Drum Machine</a></p>
                <p class="small  mb-2"><a [routerLink]="['/messages']" class="text-white"
                        style="text-decoration:none">Messages</a></p>
                <p class="small  mb-2"><a [routerLink]="['/user']" class="text-white"
                        style="text-decoration:none">User</a></p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
                <h6 class="text-uppercase mb-3 font-weight-bold text-warning text-center">Contacto</h6>
                <div class="row ">
                    <div class="mb-4 col-xl-6 text-center ">
                        <p class="mb-2 small">Álvaro González</p>
                        <p class="mb-2 small"><a class="text-white" style="text-decoration:none" href="#">
                                alv@gmail.com</a></p>
                        <p class="mb-2 small"><a class="text-white" style="text-decoration:none" href="#"> 634859273</a>
                        </p>
                    </div>
                    <div class="mb-4 col-xl-6 text-center">
                        <p class="mb-2 small">Alberto Torres</p>
                        <p class="mb-2 small"><a class="text-white" style="text-decoration:none">alb@gmail.com</a></p>
                        <p class="mb-2 small"><a class="text-white" style="text-decoration:none">674987439</a>
                        </p>
                    </div>
                </div>


            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-center ">
                <h6 class="text-uppercase mb-3 font-weight-bold text-warning">Redes Sociales</h6>
                <p class="small"><i class="fab fa-twitter-square"></i><a class="text-white mt-2 ml-2"
                        style="text-decoration:none" href="#">@LetsCollab</a></p>
                <p class="small"><i class="fab fa-instagram"></i><a class="text-white ml-2" style="text-decoration:none"
                        href="#">@LetsCollab</a></p>
                <p class="small"><i class="fab fa-facebook"></i><a class="text-white ml-2" style="text-decoration:none"
                        href="#">Let's
                        Collab </a></p>
            </div>
        </div>
    </div>
</footer>