<nav>
    <div class="imgContainer ml-4">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="imgContainer ">
                <img src="../../../assets/images/LogoLetsCollab.png" alt="">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse transition idk" id="navbarMenu">
                <ul class="navbar-nav ml-auto text-center ">
                    <li class="nav-item"><a href="" class="nav-link border-bottom-nav">Let's Collab</a></li>
                    <li class="nav-item border-bottom-nav"><a href="" class="nav-link">Drum Machine</a></li>
                    <li class="nav-item border-bottom-nav"><a href="" class="nav-link">Messages</a></li>


                </ul>
            </div>
            <div class=" userContainer mr-4">
                <div class=" userContainer ">
                    <img class="userImage" src="../../../assets/images/default-user-image.png" alt="">
                </div>