 nav{
    justify-content: s;
   
}
 nav .imgContainer{
    max-width: 20%;
    align-items: center;
}
nav img{
    width: 30%;
    height: auto;
    
} 
/* nav .ulContainer{
    width: 60%;
    display: flex;
    align-items: center;
    text-align: right;
    
}
nav ul{
   margin: 0%;
   width: 100%;
}
nav ul li{
    display: inline-block;
    padding-left: 5%;
  
}
nav ul li a{
    text-decoration: none;
    color: white;
} */
.userContainer{ 
    width: 10%;
    text-align: right;
    padding:.5%;
    margin: 0%;
}
.userContainer img{
    border-radius: 50%;
    width: 50%;
} 

.transition{
    transition: 0.5s;
}

@media(max-width:992px){
    .border-bottom-nav{
        border-bottom: 1px solid #666;
    }
    .border-bottom-nav:last-child{
        border-bottom:none;
    }
    .border-bottom-nav:first-child{
        border-bottom: 1px solid #666;
    }
    .userContainer{ 
        width: 20%;

    }
    .userContainer img{
    
        width: 25%;
    } 
    
}