nav{
    display: flex;
    width: 100%;
    padding-left: 1%;
    background-color: #444;
    padding-right: 1%;
    position: absolute;
}
 nav .imgContainer{
    max-width: 20%;
    align-items: center;
}
nav img{
    width: 20%;
    height: auto;
    
}
nav .ulContainer{
    width: 70%;
}

/* nav .ulContainer{
    width: 60%;
    display: flex;
    align-items: center;
    text-align: right;
}
nav ul{
   margin: 0%;
   width: 100%;
}
nav ul li{
    display: inline-block;
    padding-left: 5%;
  
}
nav ul li a{
    text-decoration: none;
    color: white;
} */
.userContainer{ 
    width: 30%;
    text-align: right;
    padding:.5%;
    margin: 0%;
}
.userContainer img{
    border-radius: 50%;
    width: 10%;
} 

.transition{
    transition: 0.5s;
}

.containerUl{
    max-width: 50%;
}

@media(max-width:992px){
    .border-bottom-nav{
        border-bottom: 1px solid #666;
    }
    .border-bottom-nav:last-child{
        border-bottom:none;
    }
    .border-bottom-nav:first-child{
        border-bottom: 1px solid #666;
    }
    .userContainer{ 
        width: 20%;
        text-align: left;
    }
    .userContainer img{
    
        width: 25%;
    } 
 
    .containerUl{
        max-width: none;
    }
    nav img{
        width: 30%;
        height: auto;
        
    } 
}

@media(max-width:768px){
    .userContainer img{
    
        width: 35%;
    } 

    nav img{
        width: 30%;
        height: auto;
        
    } 
}


@media(max-width:540px){
    .userContainer img{
        width: 45%;
    } 

    nav img{
        width: 50%;
        height: auto;  
    } 
}