<div class="cover-container">
    <navbar-cover class="display" (onLoginClick)="onLogin()" (onRegisterClick)="onRegister()"></navbar-cover>
    <figure class="cover-image">
        <!-- <img src="" class="cover-image"> -->
    </figure>

    <div class="container-lg">
        <img src="../../../assets/images/LogoLetsCollab.png" alt="logo" class="mt-5 logo">
        <h1>Let's Collab</h1>
        <div [ngClass]="{'disabled':isDisabled}">
            <p>Comparte tu música, conecta con más artistas como tu y crea algo único</p>
            <div class="btn-container">
                <button class="btn btn-dark ml-3 mr-4" (click)="onRegister()">Registro</button>
                <button class="btn btn-warning" (click)="onLogin()">Log In</button>
            </div>
        </div>
    </div>
    <div class="login" [ngClass]="{'disabled':loginDisabled}">
        <login (onRegisterClick)="onRegister()"></login>
    </div>
    <div class="register" [ngClass]="{'disabled':registerDisabled}">
        <register (onLoginClick)="onLogin()"></register>
    </div>
</div>