figure{
    position: absolute;
    z-index: -1;
}

.cover-image{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h1{
    color: #402000;
    float: right;
    font-family: var(--cover-fontPrimary);
    font-size: 3em;
    margin-top: 13%
}

.logo{
    width: 5em;
    filter: invert();
    float: right;
}

p{
    float: right;
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 5%;
    width: 40%;
    font-family: var(--cover-fontSecondary);
    font-size: 1.5em;
    font-weight: 700;
    color: #444;
    transition: 2s;
}

.btn-container{
    margin-left: 60%;
}

.btn{
    padding: 0.7em;
    width: 8em;
    margin-top: 10%;
}




