<navbar></navbar>
<div class="body pb-4">
    <div class="container pb-0">
        <div class="pt-5 ">
            <div class="headerImg container-fluid rounded pb-4"
                [ngStyle]="{backgroundImage:'url(http://localhost:3000/images/header_pictures/'+(user?.header_picture ? user?.header_picture : 'marioUwUBien.png')+')'}">
                <form class="formHeader " [formGroup]="headerForm">
                    <label [ngClass]="{'editDisabled':!canEdit}" style="transform: translateY(10px);" for="file-upload"
                        class="custom-file-upload text-secondary text-warning">
                        <fa-icon [icon]="faPen" class="fa-lg icon"></fa-icon>
                        <p class="ml-2 text-secondary" style="display: inline;">Añada
                            un banner a su perfil...</p>
                    </label>

                    <input id="file-upload" (change)='onFileChangeHeader($event)' type="file"
                        formControlName='header_picture' name="header_picture" />
                    <input type="hidden" formControlName="iduser">
                </form>
                <div class=" ">
                    <img class='img-fluid rounded-circle mx-auto d-block imageUser w-25 '
                        [src]="'http://localhost:3000/images/profile_pictures/'+ (user?.profile_picture ? user?.profile_picture : 'default-user-image.png')">
                </div>
            </div>
            <div class="text-center">
                <h4>{{user?.user}}</h4>
            </div>
            <div class="row">

                <fa-icon *ngIf="!canEdit" [icon]="faEnvelope" class="fa-2x icon text-secondary offset-1 pb-2"
                    title="Ir a conversación" (click)="onConversation()">
                </fa-icon>

                <div [ngClass]="{'editDisabled':!canEdit}" class="col-md-12 col-lg-2 col-xl-2 col-12 offset-lg-10 mb-3 "
                    *ngIf="isDisabled==false">
                    <button class="small btn btn-warning btn-block" (click)="onEdit()">
                        Editar
                    </button>
                </div>
                <div class="col-md-12 col-lg-2 col-xl-2 col-12 offset-lg-10 mb-3 " *ngIf="isDisabled==true">
                    <button class="small btn btn-warning btn-block" (click)="onSuccess()">
                        Volver
                    </button>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-7 col-12 offset-md-2 p-1 text-left text-md-left bio1"
                    [ngClass]="{'disabled2':isDisabled}">
                    <p class="text-white">{{user?.bio}}</p>
                    <p class="text-white" *ngIf="user?.bio == null&&canEdit==true">Cuéntanos un poco sobre tí...</p>
                    <p class="text-white" *ngIf="user?.bio == null&&canEdit==false">Este usuario no tiene biografía</p>
                </div>
                <div class="column col-md-3 col-lg-3 col-xl-3 col-12  offset-md-1 p-3 text-center"
                    [ngClass]="{'disabled':isDisabled}">
                    <div>
                        <div class="row">
                            <p *ngIf='canEdit' class="small"><img src="../../../../assets/images/instagram.png"
                                    class="icon"><a class=" mt-2 ml-2" style="text-decoration:none"
                                    [href]="'https://www.instagram.com/'+ user?.instagram">{{user?.instagram}}</a><a
                                    class="text-white" *ngIf="user?.instagram == null">Añadir cuenta</a>
                            </p>
                            <p *ngIf='!canEdit' class="small"><img src="../../../../assets/images/instagram.png"
                                    class="icon"><a class=" mt-2 ml-2" style="text-decoration:none"
                                    [href]="'https://www.instagram.com/'+ user?.instagram">{{user?.instagram}}</a><a
                                    class="text-white" *ngIf="user?.instagram == null"></a>
                            </p>
                        </div>
                        <div class="row">
                            <p *ngIf='canEdit' class="small"><img src="../../../../assets/images/facebook.png"
                                    class="icon"><a class=" ml-2" style="text-decoration:none"
                                    href="https://www.facebook.com/">{{user?.facebook}}</a><a class="text-white"
                                    *ngIf="user?.facebook == null">Añadir cuenta</a></p>
                            <p *ngIf='!canEdit' class="small"><img src="../../../../assets/images/facebook.png"
                                    class="icon"><a class=" ml-2" style="text-decoration:none"
                                    href="https://www.facebook.com/">{{user?.facebook}}</a><a class="text-white"
                                    *ngIf="user?.facebook == null"></a></p>
                        </div>
                        <div class="row">
                            <p *ngIf='canEdit' class="small">
                                <img src="../../../../assets/images/twitter.png" class="icon"><a class=" ml-2"
                                    style="text-decoration:none"
                                    [href]="'https://www.twitter.com/'+ user?.twitter ">{{user?.twitter}}</a><a
                                    class="text-white" *ngIf="user?.twitter == null">Añadir cuenta</a>
                            </p>
                            <p *ngIf='!canEdit' class="small">
                                <img src="../../../../assets/images/twitter.png" class="icon"><a class=" ml-2"
                                    style="text-decoration:none"
                                    [href]="'https://www.twitter.com/'+ user?.twitter ">{{user?.twitter}}</a><a
                                    class="text-white" *ngIf="user?.twitter == null"></a>
                            </p>
                        </div>
                        <div class="row text-align-left">

                            <p class="small"><a style="text-decoration:none; cursor: default;"
                                    [href]="'mailto:'+ user?.email">{{user?.email}}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-7 col-12 offset-md-1 p-1 text-center text-md-left bio2"
                    [ngClass]="{'disabled':isDisabled}">
                    <p class="text-white">{{user?.bio}}</p>
                    <p class="text-white" *ngIf="user?.bio == null&&canEdit==true">Cuéntanos un poco sobre tí...</p>
                    <p class="text-white" *ngIf="user?.bio == null&&canEdit==false">Este usuario no tiene biografía</p>
                </div>

            </div>
            <div class="login" [ngClass]="{'disabled':formDisabled}">
                <app-user-edit (goBack)='onSuccess()' (onSuccess)="onSuccess()"></app-user-edit>
            </div>
        </div>

        <hr class="bg-white">
        <div class="d-flex justify-content-between">
            <h2 *ngIf="!likeActive" class="text-white">Tus publicaciones:</h2>
            <h2 *ngIf="likeActive" class="text-white">Tus publicaciones favoritas:</h2>
            <fa-icon *ngIf="!likeActive" [icon]="faStar" class="fa-2x favIcon" (click)="onLike()"></fa-icon>
            <fa-icon *ngIf="likeActive" [icon]="faUndo" class="fa-2x text-white favIcon" (click)="onUserPosts()">
            </fa-icon>
        </div>
        <div *ngIf="error" class="text-center">
            <h2 class="text-white">Aún no tienes ningún favorito</h2>
        </div>

        <div *ngFor="let post of userPosts">
            <collab-post [post]="post" (search)="nothing()"></collab-post>
        </div>
        <div class="text-center mt-5">
            <button *ngIf="page != lastPage-1 && !likeActive" class="btn btn-dark" (click)="seeMore()">Ver
                más...</button>
        </div>
    </div>
</div>
<app-footer></app-footer>