.body{
    background-color: var(--color-dark-bg);
}
.container{
    padding: 0 100px 100px 100px;
}
.imageUser{
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
}
.headerImg{
    background-image: url("../../../../assets/images/lab_hero.jpg");
    background-size: cover;
}

.icon{
    width: 2.5em;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white
}
.bio1{
    display: none;
}
.bio2 {
    display: block;
}
.disabled{
    display: none;
}
@media (max-width:768px){
    .bio1{
        display: block;
    }
    .bio2{
        display: none;
    }
    .disabled2{
        display: none;
    }
    .imageUser{
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
    }
}
/* .default_profile_img{
    background-image:url('../../../assets/images/profile_images/.default_profile_img');
} */
