.body{
    background-color: var(--color-dark-bg);
}
.container{
    padding: 0 100px 100px 100px;
}
.imageUser{
    width: 200px;
}
.headerImg{
    background-image: url("../../../../assets/images/lab_hero.jpg");
    background-size: cover;
}
.disabled{
    display: none;
}
.icon{
    width: 2.5em;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white
}

/* .default_profile_img{
    background-image:url('../../../assets/images/profile_images/.default_profile_img');
} */
