<navbar></navbar>
<div class="body">
    <div class="container">
        <div class="pt-5">
            <div class="headerImg container-fluid rounded">
                <div class="mb-3 ">
                    <img class='img-fluid rounded-circle mx-auto d-block imageUser w-25'
                        [src]="'../../../assets/images/profile_images/'+ profilePicture">
                </div>

            </div>
            <div class="text-center">
                <h4>{{user?.user}}</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-2 col-xl-2 col-12 offset-lg-10 mb-3 " *ngIf="isDisabled==false">
                    <button class="small btn btn-warning btn-block" (click)="onEdit()">
                        Edit
                    </button>
                </div>
                <div class="col-md-12 col-lg-2 col-xl-2 col-12 offset-lg-10 mb-3 " *ngIf="isDisabled==true">
                    <button class="small btn btn-success btn-block" (click)="onSuccess()">
                        ¡Listo!
                    </button>
                </div>
                <div>

                </div>
                <div class="column col-md-4 col-lg-2 col-xl-2 col-12 offset-lg-1 p-3 text-center"
                    [ngClass]="{'disabled':isDisabled}">
                    <div>
                        <div>
                            <p class="small"><img src="../../../../assets/images/instagram.png" class="icon"><a
                                    class=" mt-2 ml-2" style="text-decoration:none"
                                    [href]="'https://www.instagram.com/'+ user?.instagram">{{user?.instagram}}</a><a
                                    class="text-white" *ngIf="user?.instagram == null">Añadir cuenta</a>
                            </p>
                        </div>
                        <div>
                            <p class="small"><img src="../../../../assets/images/facebook.png" class="icon"><a
                                    class=" ml-2" style="text-decoration:none"
                                    href="https://www.facebook.com/">{{user?.facebook}}</a><a class="text-white"
                                    *ngIf="user?.facebook == null">Añadir cuenta</a></p>
                        </div>
                        <div>
                            <p class="small">
                                <img src="../../../../assets/images/twitter.png" class="icon"><a class=" ml-2"
                                    style="text-decoration:none"
                                    [href]="'https://www.twitter.com/'+ user?.twitter ">{{user?.twitter}}</a><a
                                    class="text-white" *ngIf="user?.twitter == null">Añadir cuenta</a>
                            </p>
                        </div>
                        <div>

                            <p class="small"><a style="text-decoration:none; cursor: default;"
                                    [href]="'mailto:'+ user?.email">{{user?.email}}</a></p>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{'disabled':isDisabled}"
                    class="col-md-6 col-lg-6 col-xl-6 col-12  offset-lg-1 p-1 text-center text-md-left">
                    <p class="text-white">{{user?.bio}}</p>
                    <p class="text-white" *ngIf="user?.bio == null">Cuéntanos un poco sobre tí...</p>
                </div>

            </div>
            <div class="login" [ngClass]="{'disabled':formDisabled}">
                <app-user-edit (onSuccess)="onSuccess()"></app-user-edit>
            </div>
        </div>

        <hr class="bg-white">
        <h2 class="text-white">Tus publicaciones:</h2>
        <div *ngFor="let post of userPosts">
            <collab-post [post]="post" (search)="nothing()"></collab-post>
        </div>
        <!-- FALTA POST DEL USUARIO Y FAVORITOS? -->
    </div>
</div>
<app-footer></app-footer>