.body{
    background-color:var(--color-dark-bg);
}
.carousel-item{
    position: relative;
    cursor: pointer;
}
h1{
    position: absolute;
    margin-left: 5%;
    margin-top: 15%;
    font-family: var(--fontThird);
    font-size: calc(var(--font-size)*3);
}
p{
    color: white;
    font-family: var(--fontThird);
    font-size: 1.5em;
    position: absolute;
    margin-top: 15%;
    margin-left: 70%;
}
img{
    z-index: -1;
    max-height: 570px;
}
.h1-img2{
    position: absolute;
    margin-left: 32.31%;
}
.h1-img3{
    position: absolute;
    margin-left: 41%;
    margin-top: 20%;
}
@media(max-width: 4px){

}

