<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="imgContainer ">
        <a [routerLink]="['/home']"><img src="assets/images/LogoLetsCollab.png" alt=""></a>
    </div>

    <div class=" userContainer ">
        <img [routerLink]="['/user']" class="userImage" [src]="'assets/images/profile_images/'+ user?.profile_picture"
            alt="">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse transition containerUl" id="navbarMenu">
        <ul class="navbar-nav ml-auto text-center ">
            <li class="nav-item"><a [routerLink]="['/collab']" class="nav-link border-bottom-nav">Let's Collab</a></li>
            <li class="nav-item border-bottom-nav"><a [routerLink]="['/lab']" class="nav-link">Drum Machine</a></li>
            <li class="nav-item border-bottom-nav"><a [routerLink]="['/messages']" class="nav-link">Messages</a></li>
            <li (onClick)='onShutDown()' class="nav-item border-bottom-nav"><a [routerLink]="['/']" class="nav-link">
                    <fa-icon [icon]="faPowerOff" class="fa-lg powerOffButton"></fa-icon>
                </a></li>
        </ul>
    </div>

</nav>