<navbar></navbar>
<div class="body py-4">
    <div class="container p-0 " style="max-width: 700px; border-radius: 10px;">
        <div class="wrapper" style="max-height: 100px; border-radius: 10px;">
            <div *ngFor="let conversation of conversations; let i = index">
                <img style="width: 80px;" class="rounded-circle mb-3 p-2 profile_picture"
                    [src]="'https://letscollab-back.herokuapp.com/images/profile_pictures/'+ (images[i] ? images[i]: 'default-user-image.png')"
                    [routerLink]="['/messages',conversation?.idconversation]" (click)="selectConversation(conversation)"
                    alt="">
            </div>
        </div>

        <conversation #conversation [conversation]="currentConversation"></conversation>

    </div>
</div>
<app-footer></app-footer>