<navbar></navbar>

<div class="body pb-5">
    <div class="container pt-5">
        <div class="filters-container">
            <div class="filters">
                <h2>Búsqueda por:</h2>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-6">
                        <label>Usuario</label>
                        <input type="text" name="" class="form-control" (keydown)="searchByUser($event)">
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label>Palabra clave</label>
                        <input type="text" name="" class="form-control" (keydown)="searchByKeyword($event)">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-3 col-sm-6 col-xs-12">
                        <label>Instrumento/Categoría</label>
                        <select class="form-control" (change)="searchByType($event)">
                            <option value=""></option>
                            <option value="guitar">Guitarra</option>
                            <option value="bass">Bajo</option>
                            <option value="string">Otros cuerda</option>
                            <option value="vocal">Vocal</option>
                            <option value="percusion">Percusion</option>
                            <option value="flute">Flauta</option>
                            <option value="sax">Saxofon</option>
                            <option value="wind">Otros viento</option>
                            <option value="piano">Piano</option>
                            <option value="instrumental">Base instrumental</option>
                            <option value="sample">Sample</option>
                            <option value="oneshot">One shot sample</option>
                            <option value="electronic">Base electrónica/hip hop</option>
                            <option value="others">Otros</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3 col-sm-6">
                        <label>Género</label>
                        <select class="form-control" #selectGenre (change)="searchByGenre($event)">
                            <option value=""></option>
                            <option value="rock">Rock</option>
                            <option value="pop">Pop</option>
                            <option value="jazz">Jazz</option>
                            <option value="heavymetal">Heavy Metal</option>
                            <option value="rap">Rap</option>
                            <option value="trap">Trap</option>
                            <option value="reggae">Reggae</option>
                            <option value="dub">Dub</option>
                            <option value="cumbia">Cumbia</option>
                            <option value="worldmusic">World Music</option>
                            <option value="electronic">Electronic</option>
                            <option value="techno">Techno</option>
                            <option value="drumandbass">Drum and Bass</option>
                            <option value="hardtechno">Hard Techno</option>
                            <option value="trance">Trance</option>
                            <option value="psytrance">Psytrance</option>
                            <option value="edm">Edm</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3 col-sm-6">
                        <label>Licencia</label>
                        <select class="form-control" (change)="searchByLicense($event)">
                            <option value=""></option>
                            <option value="free-to-use">De uso libre</option>
                            <option value="personal">De uso solo personal</option>
                            <option value="not-to-use">Con derechos de autor</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3 col-sm-6">
                        <label>Nota</label>
                        <select class="form-control" (change)="searchByKey($event)">
                            <option value=""></option>
                            <option value="A">A</option>
                            <option value="A#">A#</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="C#">C#</option>
                            <option value="D">D</option>
                            <option value="D#">D#</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="F#">F#</option>
                            <option value="G">G</option>
                            <option value="G#">G#</option>
                        </select>
                    </div>
                    <button class="btn btn-warning ml-4" (click)="removeFilters()">Quitar filtros</button>
                </div>
            </div>
        </div>
        <div class="iconContainer index">
            <fa-icon [icon]="faFeatherAlt" [routerLink]="['/collab/new']" class="fa-lg icon " title="Envía un mensaje">
            </fa-icon>
        </div>
        <div *ngFor="let post of posts">
            <collab-post [post]="post" (search)="searchByKeyword()"></collab-post>
        </div>
        <h2 *ngIf="error" class="text-center">Ningún resultado</h2>

        <div *ngIf="!error && !loading" class="d-flex justify-content-between mt-3">
            <button [disabled]="page === 0" class="btn btn-dark" (click)="changePage(-1)">Página
                Anterior</button>
            <h4 class="text-white">Página {{page + 1}}</h4>
            <button [disabled]="page === lastPage-1" class="btn btn-dark" (click)="changePage(+1)">Siguiente
                página</button>
        </div>
    </div>
</div>
<app-footer></app-footer>