.body{
    background-color: var(--color-dark-bg);
}
.filters-container{
    width: 80%;
    height: auto;
    margin-left: 10%;
    padding: 1em;
    position: relative;
}
h2, label{
    color: white;
}
.index{
    z-index: 1;
}
.iconContainer{
    width: 4em;
    height: 4em;
    border: 1px solid white;
    border-radius: 25%;
    position: fixed;
    right: 5%;
    bottom: 10%;
    background-color: #333;
    cursor: pointer;
}
.icon{
    color: white;
    font-size: 2.5em;
    position: relative;
    top: 10%;
    left: 10%;
}
