.body{
    background-color: var(--color-bg);
}


.filters-container{
    width: 80%;
    height: auto;
    margin-left: 10%;
    padding: 1em;
    position: relative;
}


h2, label{
    color: white;
}

