<navbar></navbar>

<div class="container  p-0 mt-3 " style="max-width: 700px; border-radius: 10px;">
    <div style="max-height: 100px; border-radius: 10px;">
        <img style="width: 75px;" class="rounded-circle mb-3 p-2" src="../../../assets/images/default-user-image.png"
            alt="">
        <img style="width: 75px;" class="rounded-circle mb-3 p-2" src="../../../assets/images/default-user-image.png"
            alt="">
        <img style="width: 75px;" class="rounded-circle mb-3 p-2" src="../../../assets/images/default-user-image.png"
            alt="">
        <img style="width: 75px;" class="rounded-circle mb-3 p-2" src="../../../assets/images/default-user-image.png"
            alt="">
        <img style="width: 75px;" class="rounded-circle mb-3 p-2" src="../../../assets/images/default-user-image.png"
            alt="">
        <img style="width: 75px;" class="rounded-circle mb-3 p-2" src="../../../assets/images/default-user-image.png"
            alt="">
        <img style="width: 75px;" class="rounded-circle mb-3 p-2" src="../../../assets/images/default-user-image.png"
            alt="">

    </div>
    <div class="container border border-dark  imgBack  " style="min-height: 500px;max-height: 500px; border-radius: 10px;border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; overflow: hidden;">
        <div class="bg-warning p-2 mt-5 ml-2 " style="max-width: 60%; border-radius: 10px;">
            <p class="text-black ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nostrum ipsam ea dolorum
                aspernatur amet,
                voluptate possimus laboriosam iure architecto, eveniet non, nam molestiae a eaque. Animi qui ex itaque
                et.</p>
        </div>
        <div class="bg-light p-2 mt-5 ml-auto " style="max-width: 60%;border-radius: 10px;">
            <p class="text-black ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nostrum ipsam ea dolorum
                aspernatur amet,
                voluptate possimus laboriosam iure architecto, eveniet non, nam molestiae a eaque. Animi qui ex itaque
                et.</p>
        </div>
        <div class="bg-light p-2 mt-5 ml-auto " style="max-width: 60%;border-radius: 10px;">
            <p class="text-black ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nostrum ipsam ea dolorum
                aspernatur amet,
                voluptate possimus laboriosam iure architecto, eveniet non, nam molestiae a eaque. Animi qui ex itaque
                et.</p>
        </div>
        <div class="bg-light p-2 mt-5 ml-auto " style="max-width: 60%;border-radius: 10px;">
            <p class="text-black ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nostrum ipsam ea dolorum
                aspernatur amet,
                voluptate possimus laboriosam iure architecto, eveniet non, nam molestiae a eaque. Animi qui ex itaque
                et.</p>
        </div>
        <div class="bg-light p-2 mt-5 ml-auto " style="max-width: 60%;border-radius: 10px;">
            <p class="text-black ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nostrum ipsam ea dolorum
                aspernatur amet,
                voluptate possimus laboriosam iure architecto, eveniet non, nam molestiae a eaque. Animi qui ex itaque
                et.</p>
        </div>
        <div class="bg-light p-2 mt-5 ml-auto " style="max-width: 60%;border-radius: 10px;">
            <p class="text-black ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nostrum ipsam ea dolorum
                aspernatur amet,
                voluptate possimus laboriosam iure architecto, eveniet non, nam molestiae a eaque. Animi qui ex itaque
                et.</p>
        </div>
    </div>
    <div class="m-0 p-0">
        <input type="text" name="" id="" class=" p-1" style="width: 100%; min-height: 50px;border-radius: 10px; border-top-left-radius: 0;
            border-top-right-radius: 0;">
    </div>
</div>
<app-footer></app-footer>