figure{
    position: absolute;
    z-index: -1;
}

.cover-image{
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/images/coverv2.jpg');
    background-size: cover;
    position: fixed;
}

h1{
    color: #402000;
    float: right;
    right: 0;
    font-family: var(--cover-fontPrimary);
    font-size: calc(var(--font-size)*3);
    margin-top: 20%
}

.logo{
    width: 5em;
    filter: invert();
    float: right;
}

p{
    float: right;
    margin-left: 30%;
    margin-top: 7.5%;
    width: 40%;
    font-family: var(--cover-fontSecondary);
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color-grey);
}

.btn-container{
    margin-left: 60%;
    display: inline-block;
}

.btn{
    padding: 0.7em;
    width: 8em;
    margin-top: 10%;
}

.disabled{
    display: none;
}

.login{
    padding-top: 20%;
}

@media(max-width: 992px){

    h1{
        font-size: calc(var(--font-size)*2.3);
    }

    p{
        margin-top: 5%;
        margin-left: 60%;
    }
}

@media(max-width: 768px){
    h1, p, .btn-container, .logo{
        display: none;
    }

    .login{
        padding-top: 5%;
    }

}

@media(max-width: 540px){
    h1{
        display: none;
    }
    .logo{
        display: none;
    }
}

@media(min-width: 768px){
    .display{
        display: none;
    }
}




