<div class="ml-md-5 mb-md-3 small">
    <h3 class="text-secondary">Edit here your profile</h3>
</div>

<form novalidate enctype="multipart/form-data" [formGroup]="editForm" class="col-12 row">

    <div class="column col-md-6 col-lg-6 col-xl-6 col-12 offset-md-7 p-3 text-center text-white ">
        <div class="ml-md-5 ">

            <p class=""><label>¿Cómo te definirías?</label><input placeholder="Guitarrista, productor..." maxlength="15"
                    type="text" class="form-control small col-md-8 col-12 small p-0" formControlName="subtitle">
            </p>
        </div>

    </div>
    <div class="row">


        <div class="column col-md-4 col-lg-3 col-xl-3 col-12 offset-xl-1 pt-4 text-center">
            <div>
                <input type="hidden" formControlName="iduser">
                <div>
                    <p class="small"><img class="mb-2 mb-md-0" src="../../../../assets/images/instagram.png"
                            class="icon mb-2 mb-md-0"><input maxlength="15" type="text"
                            class=" col-md-8 col-12 small ml-md-2 p-0" formControlName="instagram"></p>
                </div>
                <div>
                    <p class="small"><img class="mb-2 mb-md-0" src="../../../../assets/images/facebook.png"
                            class="icon mb-2 mb-md-0"><input maxlength="15" type="text"
                            class=" col-md-8 col-12 small ml-md-2 p-0" formControlName="facebook"></p>
                </div>
                <div class="form-group">
                    <p class="small"><img src="../../../../assets/images/twitter.png" class="icon mb-2 mb-md-0"><input
                            maxlength="15" type="text" class=" col-md-8 col-12 small m-md-2 p-0"
                            formControlName="twitter"></p>
                </div>
                <div>
                    <p class="small"><input maxlength="40" type="text" class=" col-12 small  p-0"
                            formControlName="email"></p>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-7 col-xl-7 col-12  offset-lg-1  p-1 text-center text-md-left ">
            <p class="small"><textarea maxlength="240" (keyup)='onKeyUp($event)' class="form-control"
                    formControlName='bio' name="" id="" style="resize:none;width:100%;min-height: 200px;"
                    placeholder="Cuéntanos sobre ti"></textarea>
            </p>
            <p class="text-white d-flex justify-content-end">
                {{length}} / 240
            </p>
        </div>
        <div class="col-md-7 col-lg-7 col-xl-7 col-12 form-group">
            <label class="text-white text-center" for="">Selecciona imagen de perfil</label>
            <input class="form-control-file text-white" (change)='onFileChange($event)' type="file"
                formControlName='profile_picture' name="profile_picture">
        </div>
        <div class="col-12 col-md-6  offset-md-4">
            <button (click)="onConfirm()" class="btn btn-success btn-block ">Confirmar</button>
        </div>
    </div>
</form>