<div class="mt-5 text-center">
    <img class="rounded-circle"
        [src]="'https://letscollab-back.herokuapp.com/images/profile_pictures/'+ (user?.profile_picture ? user?.profile_picture : 'default-user-image.png')"
        alt="Generic placeholder image" width="140" height="140" [routerLink]="['/user',user?.user]">
    <h2 class="text-white" [routerLink]="['/user',user?.user]">{{user?.user}}</h2>
    <h3 class="text-warning">{{user?.subtitle}}</h3>
    <p class="text-white mx-3">{{user?.bio}}
    </p>
</div>